body{
    background: Grey;
    font-family: "Trebuchet MS", serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    color: black;
    background: white;
    text-align: center;
}
h2{
    color: white;
    background: black;
    text-align: left;
    display: inline;
}
h3{
    color: white;
    background: black;
    text-align: right;
    display: inline;
    float: right;
}
header{
    text-align: left;
}
div{
    display: block;
    color: white;
    text-align: center;
}
.Bodytitle{
    font-size: 250%;
    text-align: center;
    margin: 0px;
}
p{
    background: darkgrey;
    color: #222222;
    padding: 5px;
    text-align: center;
}
.Horiz_Div {
    float: left;
    margin-right: 5px;
}
.GeneralDiv{
    text-align: center;
    width: auto;
    display: inline-block;
}
